body {
  background-color: blue;
}
h1 {
  text-align: center;
  font-size: 30px;
  color: dimgray;
  font-family: Avantgarde, sans-serif;
}
.imgmenu, .imgloupe, nav {
  display: inline-block;
}
#nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin : 20px 30px 20px 30px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  font-family: avantgarde, sans-serif;
}
.imgmenu {
  margin-right: -30px;
}
.imgloupe {
  margin-left: 10px;
}
p {
  display: inline-block;
  margin : 5px;
  border:1px dotted gainsboro;
  width: 30px;
  height: 30px;
  text-align: center;
}
div.day {
  display: inline-block;
  margin : 5px;
 border:1px dotted black;
 line-height: 30px;
 width: 30px;
 height: 30px;
 text-align: center;
 border-radius: 10px;
}
div.hour {
  border:1px dotted black;
  margin-top : 2px;
  padding-left: 5px;
  line-height: 30px;
  width: 600px;
  height: 30px;
  border-radius: 10px;
}
.left {
  float: left;
  width: 50%;
  text-align: center;
}
.right {
  float: right;
  width: 50%;
}
h3 {
  text-align: center;
}
